body {
    margin: 0;
    font-family: sans-serif;
}

.grid {

    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;

}

.cuadros {
    background-color: rgb(197, 153, 239);
    margin: 10px;
    padding: 10px;
    font-size: 30px;
    color: rgb(255, 244, 244);
    width: 45%;
    
}